$font-primary: "Outfit", sans-serif;
$font-secondary: "Roboto", sans-serif;

$bg-color: #000235;
$color-text: #fff;
$bg-button-primary: #8d8dda;
$bg-button-secondary: transparent;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: $bg-button-primary $bg-color;
}

html {
  font-size: 62.5%;
  font-family: $font-primary;
}

body {
  background-color: $bg-color;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 0.82vw; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $bg-color; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $bg-button-primary; /* color of the scroll thumb */
  border-radius: 1.95vw; /* roundness of the scroll thumb */
  border: 0.29vw solid $bg-color /* creates padding around scroll thumb */
}

.button {
  display: inline-block;
  color: $color-text;
  font-family: $font-primary;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 4.70vw;
  line-height: 6.47vw;
  padding: 2.82vw 5.70vw;
  border-radius: 18.82vw;
  margin: 4.70vw 0;
  outline: none;

  &__primary {
    background-color: $bg-button-primary;
  }

  &__secondary {
    background-color: $bg-button-secondary;
    border: 0.23vw solid #abd9d9;
  }


  @include setQuery(Mobile-M) {
  }

  @include setQuery(Mobile-L) {
    font-size: 4vw;
    line-height: 5.47vw;
    padding: 2.32vw 5.12vw;
    border-radius: 18.82vw;
    margin: 4.70vw 0;
  }

  @include setQuery(Tablet) {
  }

  @include setQuery(Laptop) {
    font-size: 1.388vw;
    line-height: 1.944vw;
    padding: 1.388vw 4.16vw;
    border-radius: 18.82vw;
    margin: 2.777vw 0;

    &__secondary {
      background-color: $bg-button-secondary;
      border: 0.195vw solid #abd9d9;
    }


  }

  @include setQuery(Laptop-L) {
  }

  @include setQuery(Laptop-4K) {
  }
}
