// Breakpoints
$Mobile-S: 320px;
$Mobile-M: 375px;
$Mobile-L: 425px;
$Tablet: 768px;
$Laptop: 1024px;
$Laptop-L: 1440px;
$Laptop-4K: 2560px;

@function getColumns($columns) {
  @return repeat($columns, 1fr);
}

@mixin setQuery($type) {
  @if $type == Mobile-S {
    @media (min-width: $Mobile-S) {
      @content;
    }
  } @else if $type == Mobile-M {
    @media (min-width: $Mobile-M) {
      @content;
    }
  } @else if $type == Mobile-L {
    @media (min-width: $Mobile-L) {
      @content;
    }
  } @else if $type == Tablet {
    @media (min-width: $Tablet) {
      @content;
    }
  } @else if $type == Laptop {
    @media (min-width: $Laptop) {
      @content;
    }
  } @else if $type == Laptop-L {
    @media (min-width: $Laptop-L) {
      @content;
    }
  } @else if $type == Laptop-4K {
    @media (min-width: $Laptop-4K) {
      @content;
    }
  }
}

.container {
  width: 95%;
  margin: 0 auto;
  @include setQuery(md) {
    width: 90%;
  }
  @include setQuery(lg) {
    width: 80%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  @include setQuery(md) {
    grid-template-columns: getColumns(2);
  }
  @include setQuery(lg) {
    grid-template-columns: getColumns(3);
  }
}

.display {
  display: flex;
  place-content: center;
  place-items: center;
}
