.header {
  color: $color-text;
  font-weight: 700;
  // height: 100px;
  height: 12vh;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 60vw;
    height: 60vw;
    left: calc(50% - 60vw/2 - 28vw);
    // top: -452px;
    top: -28vh;
    background: rgba(141, 141, 218, 0.6);
    filter: blur(30vw);
  }

  &__container {
    display: flex;
    place-items: center;
    justify-content: space-around;
    height: inherit;
  }

  &__logo {
    // font-size: 2rem;
    font-size: 4.2vw;
  }

  &__navbar {
    display: none;
  }

  &__navbar ul {
    // font-size: 1.6rem;
    font-size: 3vw;
    list-style: none;
    display: flex;
    place-items: center;
    // gap: 48px;
  }

  &__navbar ul li:last-child {
    background-color: #2d2879;
    // padding: 10px 24px 10px 52px;
    padding: 1vw 2vw 1vw 3.6vw;
    border-radius: 6vw;
    position: relative;
  }

  &__navbar ul li:last-child::before {
    content: "";
    position: absolute;
    left: 1.4vw;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2vw;
    width: 1.2vw;
    border-radius: 50%;
    background-color: #9091DC;
  }


  @include setQuery(Mobile-M) {

  }

  @include setQuery(Mobile-L) {

  }

  @include setQuery(Tablet) {

  }

  @include setQuery(Laptop) {
    &__logo {
      font-size: 1.4vw;
    }

    &__navbar {
      display: flex;
    }

    &__navbar ul {
      font-size: 1.1vw;
      gap: 2.5vw;
    }
  }

  @include setQuery(Laptop-L) {

  }

  @include setQuery(Laptop-4K) {

  }













  
}
