.hero {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  // max-width: 1200px;
  color: $color-text;
  margin: 0 auto;
  margin-top: 2vh;
  padding: 0 6vw;

  &__information {
    max-width: 112.94vw;
  }

  &__information h1 {
    // font-size: 8rem;
    font-size: 11.875vw;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: 18px;
  }

  &__information p {
    // font-size: 1.8rem;
    font-size: 5.625vw;
    line-height: 8.75vw;
    font-weight: 400;
    font-family: $font-secondary;
    // max-width: 380px;
  }

  &__information &__buttons {
    display: flex;
    gap: 2.82vw;
  }

  &__image {
    min-width: 280px;
    max-width: 480px;
  }

  &__image img {
    width: 87.5vw;
    object-fit: contain;
  }

  @include setQuery(Mobile-M) {
  }

  @include setQuery(Mobile-L) {
    & {
      margin-top: 4.8vh;
      padding: 0 10vw;
    }

    &__information h1 {
      font-size: 10.352941176470589vw;
      margin-bottom: 18px;
    }

    &__information p {
      font-size: 4.235294117647059vw;
      line-height: 6.588235294117648vw;
    }
  }

  @include setQuery(Tablet) {
    & {
      margin-top: 6vh;
      padding: 0 10vw;
    }

    &__information h1 {
      font-size: 10.352941176470589vw;
      margin-bottom: 18px;
    }

    &__information p {
      font-size: 4.235294117647059vw;
      line-height: 6.588235294117648vw;
    }
  }

  @include setQuery(Laptop) {
    & {
      flex-direction: row;
    }

    &__information {
      max-width: 46.875vw;
    }

    &__information h1 {
      font-size: 7.8125vw;
      margin-bottom: 1.757vw;
    }
  
    &__information p {
      font-size: 1.95vw;
      line-height: 2.93vw;
    }

    &__information &__buttons {
      gap: 1.40vw;
    }


  }

  @include setQuery(Laptop-L) {

    &__information h1 {
      font-size: 5.555vw;
      margin-bottom: 1.757vw;
    }
  
    &__information p {
      font-size: 1.95vw;
      line-height: 2.93vw;
    }
    
  }

  @include setQuery(Laptop-4K) {
  }
}
